.elevator {
  position: absolute;
  left: 0;
  right: 0;
  height: 30vh;
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.left-door,
.right-door {
  border: 1px solid black;
  background-color: #fff;
  transition: all 3s;
  z-index: 1;
}

.in-elevator {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
